// @import "./scss/vendor-prefixes";
// @import "./scss/bootstrap/functions";
// @import "./scss/variables";
// @import "./scss/navbar";
.navbar {
  background: #62b9df;
}
.main-panel {
  &,
  &[data="red"] {
    border-color: black;
  }

  .content {
    padding: 78px 30px 30px 280px;
    min-height: calc(100vh - 70px);
  }
}
@media screen and (max-width: 768px) {
  .main-panel .content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.logo-img {
  width: 35px;
  height: 35px;
  display: block;
  margin-left: 2px;
  position: absolute;
  top: 12px;
  img {
    width: 35px;
  }
}
// .sidebar,
// .off-canvas-sidebar {
//   &,
//   &[data="red"] {
//     @include linear-gradient($danger-states, $danger);
//   }
//   &[data="primary"] {
//     @include linear-gradient($primary-states, $primary);
//   }
// }
@media screen and (max-width: 991px) {
  .main-panel {
    .content {
      padding-left: 30px !important;
    }
  }
  .fixed-plugin .dropdown-toggle:after {
    display: none;
  }
}
.wrapper {
  position: relative;
  top: 0;
  // height: 100vh;
}
.sidebar,
.off-canvas-sidebar {
  // background: #0d9dda;
  background: #62b9df;
  // background: -webkit-linear-gradient(0deg, #0d9dda 0%, #274d8f 100%);
  // background: -o-linear-gradient(0deg, #0d9dda 0%, #274d8f 100%);
  // background: -moz-linear-gradient(0deg, #0d9dda 0%, #274d8f 100%);
  // background: linear-gradient(0deg, #0d9dda 0%, #274d8f 100%);
  height: calc(100vh - 90px);
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  display: block;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
  margin-top: 80px;
  margin-left: 20px;
  border-radius: 5px;
  transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.main-panel {
  position: absolute;
  // position: inherit;
  // text-align: right;
  width: 100%;
  height: calc(100vh - 90px);

  // height: 100%;
  // border-top: 2px solid #e14eca;
  background: #62b9df;

  // background: linear-gradient(#0d9dda, #274d8f);
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  border-radius: 5px;
}
.main-content {
  flex-grow: 1;
  overflow: auto;
  margin-top: 80px;
  margin-left: 20%;
  width: 100%;
}
