<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h2 class=" title">Member Search</h2>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <!-- <label> Name </label> -->
                  <input class=" form-control" placeholder="Member Id" type="text" />
                </div>
              </div>
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <!-- <label> City </label> -->
                  <input class=" form-control" placeholder="Group Number" type="text" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <!-- <label> First Name </label> -->
                  <input class=" form-control" placeholder="First Name" type="text" />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <!-- <label> Last Name </label> -->
                  <input class=" form-control" placeholder="Last Name" type="text" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class=" form-group">
                  <!-- <label> Policy Name </label> -->
                  <input class=" form-control" placeholder="State" type="text" />
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <!-- <label> Policy Name </label> -->
                  <input class=" form-control" placeholder="Birth Date" type="date" />
                </div>
              </div>
            </div>
            <div class=" row">

              <div class=" col-md-6 px-md-1">
                <div class=" form-group">
                  <!-- <label> Country </label> -->
                  <input class=" form-control" placeholder="Phone" type="text" />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <!-- <label> Postal Code </label> -->
                  <input class=" form-control" placeholder="ZIP Code" type="number" />
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="searchHandler()">Search</button>
          <button class=" btn btn-fill btn-danger" type="reset" style="margin-left: 10px;">Reset</button>
          <button class=" btn btn-fill btn-danger" type="submit" style="margin-left: 10px;"
                  (click)="clearHandler()">Clear All Search</button>
        </div>
      </div>
    </div>
  </div>


  <div class=" row" *ngIf="searchClicked">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h3 class=" title">Results</h3>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Member Id</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>State</th>
                  <th>Group Number</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of searchData">
                  <td>{{data.memberID}}</td>
                  <td>{{data.fname}}</td>
                  <td>{{data.lname}}</td>
                  <td>{{data.state}}</td>
                  <td>{{data.groupNumber}}</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class=" card-footer">

        </div>
      </div>
    </div>
  </div>
  <!-- provider search -->
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h2 class=" title">Provider Search</h2>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <!-- <label> Name </label> -->
                  <input class=" form-control" placeholder="Tax Id" type="text" />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <!-- <label> Username </label> -->
                  <input class=" form-control" placeholder="Facility/Provider/Group" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <!-- <label for="exampleInputEmail1"> Email address </label> -->
                  <input class=" form-control" placeholder="NPI" type="text" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <!-- <label> First Name </label> -->
                  <input class=" form-control" placeholder="First Name" type="text" />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <!-- <label> Last Name </label> -->
                  <input class=" form-control" placeholder="Last Name" type="text" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-8">
                <div class=" form-group">
                  <!-- <label> Policy Name </label> -->
                  <input class=" form-control" placeholder="State" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <!-- <label> Postal Code </label> -->
                  <input class=" form-control" placeholder="ZIP Code" type="number" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <!-- <label> City </label> -->
                  <input class=" form-control" placeholder="Group Number" type="text" />
                </div>
              </div>


              <div class=" col-md-4">
                <div class=" form-group">
                  <!-- <label> Policy Name </label> -->
                  <input class=" form-control" placeholder="Speaciality" type="Text" />
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="searchHandler()">Search</button>
          <button class=" btn btn-fill btn-danger" type="reset" style="margin-left: 10px;">Reset</button>
          <button class=" btn btn-fill btn-danger" type="submit" style="margin-left: 10px;"
                  (click)="clearHandler()">Clear All Search</button>
        </div>
      </div>
    </div>
  </div>

  <!-- group search -->
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h2 class=" title">Group Search</h2>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-7 pr-md-1">
                <div class=" form-group">
                  <!-- <label> Name </label> -->
                  <input class=" form-control" placeholder="Group Number" type="text" />
                </div>
              </div>
              <div class=" col-md-5 px-md-1">
                <div class=" form-group">
                  <!-- <label> Username </label> -->
                  <input class=" form-control" placeholder="Group Name" type="text" />
                </div>
              </div>

            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <!-- <label> First Name </label> -->
                  <input class=" form-control" placeholder="State" type="text" />
                </div>
              </div>

            </div>


          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="searchHandler()">Search</button>
          <button class=" btn btn-fill btn-danger" type="reset" style="margin-left: 10px;">Reset</button>
          <button class=" btn btn-fill btn-danger" type="submit" style="margin-left: 10px;"
                  (click)="clearHandler()">Clear All Search</button>
        </div>
      </div>
    </div>
  </div>

  <!-- agency/broker search -->
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h2 class=" title">Agency/Broker Search</h2>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-7 pr-md-1">
                <div class=" form-group">
                  <!-- <label> Name </label> -->
                  <input class=" form-control" placeholder="Agent ID" type="text" />
                </div>
              </div>
              <div class=" col-md-5 px-md-1">
                <div class=" form-group">
                  <!-- <label> Username </label> -->
                  <input class=" form-control" placeholder="Tax ID" type="text" />
                </div>
              </div>

            </div>
            <div class=" row">
              <div class=" col-md-8 pr-md-1">
                <div class=" form-group">
                  <!-- <label> First Name </label> -->
                  <input class=" form-control" placeholder="Business Name or First Name" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <!-- <label> First Name </label> -->
                  <input class=" form-control" placeholder="Last Name" type="text" />
                </div>
              </div>

            </div>
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <!-- <label> First Name </label> -->
                  <input class=" form-control" placeholder="Agent Type" type="text" />
                </div>
              </div>
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <!-- <label> First Name </label> -->
                  <input class=" form-control" placeholder="State" type="text" />
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="searchHandler()">Search</button>
          <button class=" btn btn-fill btn-danger" type="reset" style="margin-left: 10px;">Reset</button>
          <button class=" btn btn-fill btn-danger" type="submit" style="margin-left: 10px;"
                  (click)="clearHandler()">Clear All Search</button>
        </div>
      </div>
    </div>
  </div>
  <!-- case/task/interaction search -->
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h2 class=" title">Agency/Broker Search</h2>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-7 pr-md-1">
                <div class=" form-group row">




                </div>
              </div>
              <div class=" col-md-5 px-md-1">
                <div class=" form-group">
                  <!-- <label> Username </label> -->
                  <input class=" form-control" placeholder="ID" type="text" />
                </div>
              </div>

            </div>


          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="searchHandler()">Search</button>
          <button class=" btn btn-fill btn-danger" type="reset" style="margin-left: 10px;">Reset</button>
          <button class=" btn btn-fill btn-danger" type="submit" style="margin-left: 10px;"
                  (click)="clearHandler()">Clear All Search</button>
        </div>
      </div>
    </div>
  </div>
</div>